<div class="placeContainer">
    <div class="heading">
        <h3><%=@place.name=%></h3>
        <p class="location"><%=@place.location=%></p>
        <p  class="openingHoursHeading">Opening Hours</p>
    </div>
    <div class="body">
        <ul class="openingHoursMain">
            <% @place.opening_hours.each do |openingHour| %>
                <div class="openingHourContent <%= 'open' if openingHour.isToday? %>">               
                    <li class="openingHours">
                        <div class="openingHourCol">
                            <p class="openingHourHeading"><%=openingHour.getDaysHeading%></p>
                        </div>
                        <div class="openingHourCol">
                            <%-if openingHour.isClosed? %>
                                <p class="closed">closed</p>
                            <% end %>
                            <ul class="openingHoursNested">
                                <% openingHour.hours.each do |hour| %>
                                    <li class="openingHoursNested"><%=hour%></li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                </div>
            <% end %>
        </ul>
    </div>
</div>