<div class="placeContainer">
    <div class="heading">
        <h3><%=@place.name=%></h3>
        <p class="location"><%=@place.location=%></p>
        <p  class="openingHoursHeading">Opening Hours</p>
    </div>
    <div class="body">
        <%- if @place.has_open_next? %>
            <p class="openNextHeading">Open Next</p>

            <div class="openNext">               
                <div class="openingHourCol">
                    <p class="openingHourHeading"><%=@place.open_next.getDaysHeading%></p>
                </div>
                <div class="openingHourCol">
                    <ul class="openingHoursNested">
                        <% @place.open_next.hours_ranges.each do |hours_range| %>
                            <li class="openingHoursNested <%= 'openNow' if hours_range.is_open_now %>"><%=hours_range.getRange%></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        
        <% end %>
        <ul class="openingHoursMain">
            <% @place.schedules.each do |schedule| %>
                <div class="openingHourContent <%= 'open' if schedule.isToday? %>">               
                    <li class="openingHours">
                        <div class="openingHourCol">
                            <p class="openingHourHeading"><%=schedule.getDaysHeading%></p>
                        </div>
                        <div class="openingHourCol">
                            <%-if schedule.isClosed? %>
                                <p class="closed">closed</p>
                            <% end %>
                            <ul class="openingHoursNested">
                                <% schedule.hours_ranges.each do |hours_range| %>
                                    <li class="openingHoursNested <%= 'openNow' if hours_range.is_open_now %>"><%=hours_range.getRange%></li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                </div>
            <% end %>
        </ul>
    </div>
</div>